body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #F8F9FA;
}
.nav{
    background-color: #F8F9FA;
    padding: 10px 0;
}
.slider{
    background-color: #FCEBE9;
    padding: 0 40px;
}
.buy_now{
 background-color: #FF5498;
 padding: 8px 30px;
 border-radius: 10px;
 color: white;
 box-shadow: 5px 5px 20px gray;

}
.slider{
    margin-bottom: 50px;
}
.slider-bottom-area{
    margin-bottom: 50px;
}
.container_s{
    margin-bottom: 50px;
}
.backpack_c{
    margin-top: 50px;
}

.subscribe{
    text-align: center;
    background-color: #FCEBE9;
    margin-bottom: 50px;
    padding: 20px 30px;
}
.btn{
    margin: auto;
}
.input_btn{
    padding: 4px 35px;
    border-radius: 3px;
}
footer{
    text-align: center;
    margin-bottom: 10px;
}